p {
  padding: 0;
  margin: 0;
}
#add_link_container {
  display: none;
}
.plus_button {
  text-decoration: underline;
  color: #00f;
  cursor: pointer;
}
.real_plus_button {
  cursor: pointer;
}
.real_plus_button .top_left {
  float: left;
  background: url(images/button.gif);
}
.real_plus_button .top_right {
  background: url(images/button.gif) no-repeat right top;
}
.real_plus_button .bottom_left {
  background: url(images/button.gif) no-repeat left bottom;
}
.real_plus_button .bottom_right {
  background: url(images/button.gif) no-repeat right bottom;
}
.real_plus_button .plus {
  padding: 4px 9px 3px 22px;
  background: url(images/plus.gif) no-repeat 9px center;
}
.real_plus_button .plus:hover {
  text-decoration: underline;
}